:root {
  --color-primary: #231f20;
  --color-secondary: #808080;
  --color-tertiary: #ececec;
  --color-background: #fbfbfb;
  --color-success: #3d7b6d;
  --color-warning: #ffc520;
  --color-danger: #c04022;
  --color-info: #0079c4;
  --color-border: #d1d2d4;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  /* src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2'); */
  src: url('../assets/fonts/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
}

@layer utilities {

}